/************************************************************************
 * Your custom CSS file
 *************************************************************************/

 body{
  font-family: 'Lobster', cursive;
}
p{
  color: rgb(22, 114, 22);
}
h1{
  font-family: 'Lobster', cursive;
  font-size: larger;
  color: rgb(12, 66, 12);
}
h2{
  font-family: 'Lobster', cursive;
  font-size: larger;
  color: rgb(12, 66, 12);
}
h3{
  font-family: 'Lobster', cursive;
  font-size: larger;
  color: rgb(12, 66, 12);
}
.menu-container{
  border-radius: 30px;
  margin-left: 10%;
  width: 40%;
  margin-right: 70%;
  background-color: #ade4ae;
  color: rgb(12, 66, 12);

}
.table{
  color: rgb(22, 114, 22);
}
.welcome{
  color: rgb(12, 66, 12);
}
.start-banner{
  margin-left: 30%;
}

.custom-dropdown {
  width: 240px;
}

.custom-textbox {
  width: 240px;
}

#dialog-1,
#dialog-2,
#dialog-3,
#dialog-4,
#share-dialog {
  display: none;
}

#share-url {
  width: 100%;
  -webkit-touch-callout: default !important;
  -webkit-user-select: text !important;
  -khtml-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}

#share-url-copy-prompt {
  display: none;
  color: #007bff;
}

.below-banner{
  padding-left: 20%;
  align-items: center;
  width: 100%;
  display: inline-block;
  background-color: #ade4ae;
  text-decoration: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 10%;
}
.text-start{
  margin-top: 30%;
  text-align: center;
}